/*
    This style sheet stylizes the controls inside our
    goLogoLo JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    @author Richard McKenna
    @author ?
    @version 1.0
*/

.color-picker {
    -fx-padding: 2px;
}
.edit_toolbar{
    -fx-background-color: #c9f2bf;
    -fx-background-radius: 5.0;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    
}
.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #c9f2bf;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:15;     
}

.bordered_pane {
    -fx-background-color: #fff9cc;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}
.bordered_pane2{
    -fx-background-color: #c1e9ff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}
.bordered_pane3{
    -fx-background-color: #c1e9ff;
    -fx-background-radius: 5.0;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
}


.file_button{
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );       
}

.combobox{
     -fx-pref-width: 150;    
}
.combobox_route{
     -fx-pref-width: 300;    
}